.wrapper {
  border: red 1px solid;  
  width: 10rem;
}

img {
  background-size: cover;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}

.example-header-image {
  background-size: cover;
  width: 5rem;  
}