.wrapper {
  border: black 2px solid;  
  display: block;
  align-content: center;
  max-width: 6rem;
  align-self: center;
  align-items: center;
}

.picture {  
  display: flex;
  flex: 1 auto;
  align-content: center;
  justify-content: center;
}

.picture img {  
  justify-content: center;
  align-content: center;
  background-size: cover;
  border-radius: 60%;
  width: 3.8rem;
  height: 3.5rem;
}

.buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.buttons button {  
  padding: 0;  
  font-size: 0.7rem;
}

