.wrapper {
  border: black 2px solid;  
  display: block;
  width: 100%;  
  align-content: center;
  align-self: center;
  align-items: center;
}

.picture {  
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
}

.picture img {  
  justify-content: center;
  align-content: center;
  background-size: cover;  
}

.buttons {
  margin: auto;  
}

.buttons button {      
  
}

