.wrapper {
    width: 95%;
    margin: auto;
    margin-top: 2%;
}

table {
    width: 100%;    
}

tr:hover {
    background-color: slateblue;
    color: white !important;
}

th.mat-header-cell {
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 0.9em;    
    margin-left: 2%;
}

th.mat-column-id {
    max-width: 40px;    
}

th.mat-column-functionArea {
    max-width: 80px;        
}

th.mat-column-details {
    max-width: 70px;
}

.filter-container {
    display: flex;
}

.filter-container > mat-form-field {
    display: flex;
    flex: 1 1 auto;
}

/* TABLE COLUMNS*/
.mat-column-id {
    font-size: 0.75em;
}
.mat-column-functionArea {
    font-size: 0.9em;
}
.mat-column-project {
    font-size: 0.8em;
}
.mat-column-activity {
    font-size: 0.8em;
}
.mat-column-projectStatus {
    font-size: 0.6em;    
}

.mat-column-details {
    
}