table {
    width: 100%;    
}

th.mat-header-cell {
    background-color: black;
    color: white;
}

th.mat-sort-header-sorted {
    color: black;
}

td.row-project-percent {
    font-size: 1rem;
}

td.row-project-status {
    font-size: 0.5rem;
}