table {
    width: 100%;    
}

tr:hover {
    background-color: blueviolet;
    color: white !important;
}

th.mat-header-cell {
    background-color: black;
    color: white;
    text-align: center;
}

th.mat-sort-header-sorted {
    color: black;
}

td.row-project-percent {
    font-size: 1rem;
}

td.row-project-status {
    font-size: 0.55rem;
}

.project-cell, .activity-cell {
    font-size: 0.6rem;
}