<mat-toolbar>
    <mat-toolbar-row>
        <div class="logo">
            <img src="assets/images/scania.png" alt="scania logo">
        </div>
        <span class="title">IFUP</span>
        <button mat-button routerLinkActive="active-link" routerLink="automation/projects">HOME</button>
        <button mat-button routerLinkActive="active-link" routerLink="automation/responsibles">RESPONSAVEIS</button>
        <button mat-button routerLinkActive="active-link" routerLink="automation/priorities">PRIORIDADES</button>
        <!-- <button mat-button routerLinkActive="active-link" routerLink="/vdt">VDT</button> -->
        <button mat-button routerLinkActive="active-link" routerLink="automation/reports">RELATÓRIOS</button>
        <button mat-button routerLinkActive="active-link" routerLink="automation/organization">ORGANOGRAMA</button>
        <span class="spacer"></span>
        <button mat-raised-button color="accent" (click)="openLoginDialog()">LOGIN</button>      
    </mat-toolbar-row>
</mat-toolbar>