<div class="dialog-wrapper">
  <div>
    <div mat-dialog-title> ATIVIDADES </div>
    <button mat-button mat-dialog-close>
      <mat-icon>clear</mat-icon>
    </button>
  </div>


  <mat-dialog-content>
    <mat-selection-list #projects>
      <mat-list-option *ngFor="let p of pjStatus">
        <div>{{p.project.id}}</div>
        <div>{{p.project.project}}</div>
        <button (click)="openProject(p.project.id)" mat-raised-button mat-dialog-close color="primary">VER</button>
      </mat-list-option>
    </mat-selection-list>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button (click)="save()" mat-raised-button mat-dialog-close color="primary">
      SALVAR
    </button>
    <button mat-button mat-dialog-close color="warn">
      FECHAR
    </button>
  </mat-dialog-actions>

</div>