<!-- <div class="responsibles-wrapper">
  <ng-container *ngFor="let p of fakeArray">
    <app-responsible-card person="SSBHPE"></app-responsible-card>
  </ng-container>
</div> -->

<!-- <div [hidden]="!loading">LOADING...</div> -->

<mat-tab-group backgroundColor="warn" [hidden]="loading">

  <mat-tab label="Atividades do Dia">
    <div class="today-wrapper">
      <app-today-card person="SSBHPE"></app-today-card>
      <app-today-card person="SSBHPE"></app-today-card>
      <app-today-card person="SSBHPE"></app-today-card>
      <app-today-card person="SSBHPE"></app-today-card>
      <app-today-card person="SSBHPE"></app-today-card>
      <app-today-card person="SSBHPE"></app-today-card>
      <app-today-card person="SSBHPE"></app-today-card>
      <app-today-card person="SSBHPE"></app-today-card>
      <app-today-card person="SSBHPE"></app-today-card>
      <app-today-card person="SSBHPE"></app-today-card>
      <app-today-card person="SSBHPE"></app-today-card>
      <app-today-card person="SSBHPE"></app-today-card>
    </div>
  </mat-tab>
  <mat-tab label="Pessoas">
    <div class="responsibles-wrapper">
      <ng-container *ngFor="let p of fakeArray">
        <app-responsible-card person="SSBHPE"></app-responsible-card>
      </ng-container>
    </div>
  </mat-tab>

</mat-tab-group>