.responsibles-wrapper {
    margin: auto;
    width: 95%;
    border: 1px solid #000;
    /* display: flex; */
}

app-responsible-card {
    display: inline-block;
    margin-left: 3%;
    margin-top: 1.5%;
    
}

.today-container {
    
}

app-today-card {

}

