.responsibles-wrapper {

}

app-responsible-card {
    display: inline-block;
    margin-left: 3%;
    margin-top: 1.5%;
}

.today-container {
    
}

app-today-card {
    width: 100%;
    flex: 1 0 auto;
}

