<mat-form-field>
    <mat-select placeholder="FUNÇÃO" [(value)]=selected>
        <mat-option>A</mat-option>
        <mat-option>B</mat-option>
        <mat-option>C</mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field>
    <mat-select placeholder="STATUS" [(value)]=selecte2d>
        <mat-option>A</mat-option>
        <mat-option>B</mat-option>
        <mat-option>C</mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field>
    <mat-select placeholder="TIPO" [(value)]=selec2ted>
        <mat-option>A</mat-option>
        <mat-option>B</mat-option>
        <mat-option>C</mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field>
    <mat-select placeholder="INPUT" [(value)]=se2lected>
        <mat-option>A</mat-option>
        <mat-option>B</mat-option>
        <mat-option>C</mat-option>
    </mat-select>
</mat-form-field>


<button mat-button>FILTRAR</button>

