<div class="wrapper">

    <mat-form-field>
        <mat-select (change)="filterData($event)" placeholder="FUNÇÃO" [(value)]="filter.functionArea">
            <mat-option *ngFor="let f of constants.FUNCTION_AREAS" [value]="f"> {{f}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="STATUS" [(value)]="filter.status">
            <mat-option *ngFor="let s of constants.STATUS" [value]="s"> {{s}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="TIPO" [(value)]="filter.type">
            <mat-option *ngFor="let f of constants.TYPES" [value]="f"> {{f}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="INPUT" [(value)]="filter.input">
            <mat-option *ngFor="let f of constants.INPUTS" [value]="f"> {{f}}</mat-option>
        </mat-select>
    </mat-form-field>

    <button (click)="filterData(filter)" mat-stroked-button>FILTRAR</button>
</div>

{{filter | json}}