<div>

  <div class="dialog-header">
    <h1 mat-dialog-title> {{ project.id }} - {{project.project}} </h1>
    <button mat-button mat-dialog-close>
      <mat-icon>clear</mat-icon>
    </button>
  </div>

  <mat-dialog-content>
    <mat-form-field>
      <!-- <input matInput type="text" value="{{project.type}}" placeholder="TIPO" /> -->
      <mat-select placeholder="TIPO">
        <mat-option *ngFor="let t of constants.TYPES" [value]="t">{{t}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="LINHA">
        <mat-option *ngFor="let l of constants.LINES" [value]="l">{{l}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="FUNÇÃO">
        <mat-option *ngFor="let f of constants.FUNCTION_AREAS" [value]="f">{{f}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="POSTO">
        <mat-option *ngFor="let s of constants.STATIONS" [value]="s">{{s}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="POSIÇÃO">
        <mat-option *ngFor="let p of constants.POSITIONS" [value]="p">{{p}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="RESPONSÁVEL">
        <mat-option *ngFor="let r of constants.RESPONSIBLES" [value]="r">{{r}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="ENVOLVIDO 1">
        <mat-option *ngFor="let l of constants.LINES" [value]="l">{{l}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="ENVOLVIDO 2">
        <mat-option *ngFor="let l of constants.LINES" [value]="l">{{l}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="ENVOLVIDO 3">:
        <mat-option *ngFor="let l of constants.LINES" [value]="l">{{l}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="INPUT">
        <mat-option *ngFor="let l of constants.LINES" [value]="l">{{l}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="NCG">
        <mat-option *ngFor="let l of constants.LINES" [value]="l">{{l}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="MAQUINA TIPO">
        <mat-option *ngFor="let l of constants.LINES" [value]="l">{{l}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="MAQUINA EXISTENTE?">
        <mat-option value="SIM">SIM</mat-option>
        <mat-option value="NÃO">NÃO</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input placeholder="ATIVIDADE" matInput type="text" value="{{project.activity}}" />
    </mat-form-field>
    <mat-form-field>
      <input placeholder="INPUT DATE" matInput type="date" value="{{project.inputDate | date: 'dd/MM/yy'}}" />
    </mat-form-field>
    <mat-form-field>
      <input placeholder="AD APROVAL" matInput type="text" value="{{project.adAproval | date: 'dd/MM/yy'}}" />
    </mat-form-field>
    <mat-form-field>      
        <input placeholder="Nº PROJETO" matInput type="text" value="{{project.projectNumber}}" />
    </mat-form-field>
    <mat-form-field>
      <input placeholder="VALOR(x $1000):" matInput type="number" value="{{project.projectBudget}}" />
    </mat-form-field>
    <mat-form-field>
      <input placeholder="REQUISIÇÃO ALMOXARIFADO / OS" matInput type="text" value="{{project.reqAlmox_OS}}" />
    </mat-form-field>
    <mat-form-field>
      <input placeholder="STATUS REQUISIÇÃO" matInput type="text" value="{{project.statusReq_OS}}" />
    </mat-form-field>
    <mat-form-field>      
        <input placeholder="RC" matInput type="number" value="{{project.rcNumber}}" /> 
    </mat-form-field>
    <mat-form-field>
      <div>RC STATUS
        <input matInput type="text" value="{{project.rcStatus}}" /> </div>
    </mat-form-field>
    <mat-form-field>      
        <input placeholder="ORDER" matInput type="number" value="{{project.orderNumber}}" /> 
    </mat-form-field>
    <mat-form-field>      
        <input placeholder="LAYOUT E INFRA" matInput type="text" value="{{project.infra_Layout}}" />
    </mat-form-field>
    <mat-form-field>      
        <input placeholder="TRY-OUT / INSTALAÇÃO" matInput type="date" value="{{project.installation_TryOut | date: 'dd/MM/yy'}}" /> 
    </mat-form-field>
    <mat-form-field>      
        <input placeholder="HANDOVER" matInput type="date" value="{{project.handover | date: 'dd/MM/yy'}}" />       
    </mat-form-field>
    <mat-form-field>
      <div>STATUS
        <input matInput type="text" value="{{project.projectStatus}}" /> </div>
    </mat-form-field>
    <mat-form-field>
      <div>FASE
        <input matInput type="text" value="{{project.phase}}" /> </div>
    </mat-form-field>
    <mat-form-field>
      <input placeholder="PORCENTAGEM (%)" matInput type="number" min=0 max=100 value="{{project.projectPercent}}" />
    </mat-form-field>
    <mat-form-field>
      <input placeholder="COMENTÁRIOS" matInput type="text" value="{{project.comments}}" />
    </mat-form-field>
    <mat-form-field>
      <input placeholder="PRIORIDADE" matInput type="number" value="{{project.priority}}" />
    </mat-form-field>
    <mat-form-field>
      <input placeholder="NPR" matInput type="number" value="{{project.npr}}" />
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-flat-button>SALVAR</button>
    <button mat-flat-button color="accent"> EDITAR</button>
    <button mat-button color="warn" (click)="close()">FECHAR</button>
  </mat-dialog-actions>

  <!-- {{project.phaseDelivery}} {{project | json}} -->

</div>