<div>
  <h2 mat-log-title>LOGIN</h2>
  <mat-dialog-content>
    <mat-form-field>
      <input matInput type="text" placeholder="SSB" />
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="SENHA" />
    </mat-form-field>

    <mat-dialog-actions>
      <button mat-raised-button mat-dialog-close color="primary">
        LOGIN
      </button>
      <button mat-button mat-dialog-close color="warn">
        FECHAR
      </button>
    </mat-dialog-actions>
  </mat-dialog-content>
</div>